/* 主色调定义 */
/* 文字内容色调定义 */
/* 背景色调定义 */
/* 边框色调定义 */
/* 主题色定义 */
/* Input */
/* main page */
html body {
  padding: 1em 8em 1em 8em;
  background-color: #f3f3f4;
}

body > .ui.segment {
    min-height: 430px;
}

#urlPart {
    padding: 0em 4em;
}

#rolePart {
    padding: 0em 4em;
}

#urlPart > .ui.list > .item {
    padding: 0.7em 0.7em;
    -webkit-transition: background-color .3s ease;
    -moz-transition: background-color .3s ease;
    -o-transition: background-color .3s ease;
    transition: background-color .3s ease;
}

#urlPart > .ui.list > .item:active {
    background-color: green;
}

#urlPart > .ui.list > .item:active > .icon,
#urlPart > .ui.list > .item:active  .header{
    color: #fff;
    -webkit-transition: color .3s ease;
    -moz-transition: color .3s ease;
    -o-transition: color .3s ease;
    transition: color .3s ease;
}

#urlPart > .ui.list > .item[menu-level="1"][searching="false"] {
    padding-left: 20px;
}

#urlPart > .ui.list > .item[menu-level="2"][searching="false"] {
    padding-left: 40px;
}

#urlPart > .ui.list > .item[menu-level="3"][searching="false"] {
    padding-left: 60px;
}

#urlPart > .ui.list > .item[menu-level="4"][searching="false"] {
    padding-left: 80px;
}

#urlPart > .ui.list > .item[menu-level="5"][searching="false"] {
    padding-left: 100px;
}

#urlPart > .ui.list > .item[menu-level="6"][searching="false"] {
    padding-left: 120px;
}

#urlPart > .ui.list > .item[menu-level="7"][searching="false"] {
    padding-left: 140px;
}

#urlPart > .ui.list > .item[menu-level="8"][searching="false"] {
    padding-left: 160px;
}

#urlPart > .ui.list > .item[menu-level="9"][searching="false"] {
    padding-left: 180px;
}

#urlPart > .ui.list > .item[menu-level="10"][searching="false"] {
    padding-left: 200px;
}


#rolePart > .ui.table > tbody > tr:active {
    color: #fff;
    background-color: green;
    -webkit-transition: background-color .3s ease, color .3s ease;
    -moz-transition: background-color .3s ease, color .3s ease;
    -o-transition: background-color .3s ease, color .3s ease;
    transition: background-color .3s ease, color .3s ease;
}

.ui.table[data-blank="true"] {
    min-height: 350px;
}

.ui.table[data-blank="true"] .blank {
    font-size: 1.5em;
    color: #666;
}

.ui.table[data-blank="false"] .blank {
    display: none;
}

#componentPart > .ui.table .ui.input {
    padding: 5px;
    border: rgba(0, 0, 0, 0) 1px dashed;
    -webkit-transition: border .3s ease;
    -moz-transition: border .3s ease;
    -o-transition: border .3s ease;
    transition: border .3s ease;
}

#componentPart > .ui.table .ui.input:hover {
    border: #d4d4d5 1px dashed;
}



