/* 主色调定义 */
/* 文字内容色调定义 */
/* 背景色调定义 */
/* 边框色调定义 */
/* 主题色定义 */
/* Input */
/* main page */
html body {
  padding: 1em;
  background-color: #f3f3f4;
}

#btns {
    text-align: center;
}

.ui.button {
    width: 100px;
}

.announcement.icon {
    color: #a5673f;
}

.ui.menu .item .label {
    margin-left: .5em;
}

#placeholder {
    visibility: hidden;
    padding-left: 0 !important;
    padding-right: 0 !important;
    min-width: 0;
    margin-left: 0;
}

.ui.list > .item > .content > .header {
    margin-bottom: .5em;
}

