<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta charset="UTF-8">
    <title>发布公告</title>
    <link rel="stylesheet" type="text/css" href="../static/nprogress/nprogress.css">
    <script src="../static/nprogress/nprogress.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/cola-ui/semantic.css">
    <link rel="stylesheet" type="text/css" href="../static/bdf3/message/send.css">
    <script src="../static/tinymce/tinymce.min.js"></script>
    
</head>
<body>
<script type="text/javascript">
    NProgress.configure({showSpinner: false, minimum: 0.3})
    NProgress.start();
    tinymce.init({
        selector: '#txtMessage',
        height: 250,
        theme: 'modern',
        plugins: [
            'advlist autolink lists link image charmap print preview hr anchor pagebreak',
            'searchreplace wordcount visualblocks visualchars code fullscreen',
            'insertdatetime media nonbreaking save table contextmenu directionality',
            'emoticons template paste textcolor colorpicker textpattern imagetools'
        ],
        toolbar1: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | print preview media | forecolor backcolor emoticons',
        image_advtab: true,
        templates: [
            { title: 'Test template 1', content: 'Test 1' },
            { title: 'Test template 2', content: 'Test 2' }
        ]
    });
</script>
<div class="ui segment basic">
    <h2 class="ui header">
        <button class="ui right floated secondary circular button" c-onclick="openManagePage()">私信中心</button>
        发送私信
    </h2>
    <form id="announceForm" class="ui form">
        <div class="field">
            <input data-validate="receiver" type="text" c-bind="message.additional" placeholder="请输入接收者">
        </div>
        <div class="field">
            <textarea id="txtMessage" c-bind="message.content"></textarea>
        </div>
        <div class="ui error message"></div>
        <div id="btns" class="field">
            <div id="cancelBtn" class="ui button circular" c-onclick="cancel()">取消</div>
            <div id="publishBtn" class="ui button secondary circular" c-onclick="send()">发送</div>
        </div>
    </form>
</div>

</body>
<script src="../static/jquery-2.1.3.js"></script>
<script src="../static/jquery.cookie.js"></script>
<script src="../static/cola-ui/3rd.js"></script>
<script src="../static/cola-ui/semantic.js"></script>
<script src="../static/cola-ui/cola-core.js" charset="UTF-8"></script>
<script src="../static/common/common.js"></script>
<script src="../static/bdf3/message/send.js"></script>
</html>