.checkbox-label {
    color: #D4D4D5 !important;
}

.remember {
    min-width: 300px;
    text-align: left;
}

.ui.form {
    display: inline-block;
}

.ui.header {
    color: #D4D4D5;
}

.ui.page {
    background-color: #082b4f;
}

.register {
    border-radius: 0em 0em 0em 0.28571429rem !important;
}