html body {
    padding: 2em;
    background-color: #f3f3f4;
}

.ui.form {
    display: inline-block;
    width: 300px;
}

.ui.header {
    color: #1B1C1D;
}

.ui.page {
    background-color: rgba(255, 255, 255, .9);
}

.register {
    border-radius: 0em 0em 0em 0.28571429rem !important;
}