.main .top {
	background-color: #4285f4;
}
.main .banner {
	background-image: url(static/images/logo.svg);
	background-repeat: no-repeat;
	background-position: 24px center;
}

.main .app-name {
	color: #fff;
    margin-left: 80px;
    font-size: 1.7em;
    line-height: 64px;
    display: inline-block;
}

.main .banner .icon.remind .notify-total {
	display: none;
	position: relative;
	left: 19px;
	top: -1px;
	background: red;
	color: white;
	padding: 2px;
	min-width: 16px;
	text-align: center;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	-moz-border-radius: 20px;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}

.main .banner .icon {
	background-repeat: no-repeat;
	background-position: center;
	float: right;
    height: 40px;
    width: 40px;
    margin: 12px 0;
    cursor: pointer;
}

.main .banner .icon:focus {
	background-color: rgba(0,0,0,0.20);
    outline: none;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -moz-border-radius: 50%;
}

.main .banner .icon.personal-center {
	background-image: url(static/images/personal-center.svg);
	margin-right: 10px;
}

.main .banner .icon.remind {
	background-image: url(static/images/remind.svg);
}

.main .banner .icon.search {
	background-image: url(static/images/search.svg);
}


.personal-center .avatar {
	background-image: url(static/images/avatar.svg);
	background-repeat: no-repeat;
	background-position: center;
}

.personal-center .username {
	color: #8c8c8c;
}

.personal-center .nickname {
	font-size: 1.2em;
}

.personal-center .buttons {
	border-top: #ccc 1px solid;
}

.personal-center.d-shadow-sides {
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}

.main .workarea {
	background-color: #ccc;
}

.main .d-cardbook {
    background-color: #f7f7f7;
}

.main .d-tree .row {
	background-color: #f7f7f7;
}

.main .d-tree .current-row {
    color: #ffffff;
    background-color: #15a4fa;
}

.main .d-label.history {
	cursor: pointer;
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 0 10px;
    background-color: #ddd;
    opacity: .7;
}

.main .history-container .clear-placeholder {
    opacity: 0;
}

.main .history-container .clear-history {
	cursor: pointer;
    opacity: 0;
    line-height: 24px;
	transition: opacity .3s, color .3s;
	-moz-transition: opacity .3s, color .3s;
	-webkit-transition: opacity .3s, color .3s;
	-o-transition: opacity .3s, color .3s;

}


.main .history-container:hover .clear-history {
	opacity: .6;
}

.main .history-container:hover .clear-history:hover {
	color: red;
	opacity: 1;
}

.notify-list .fa {
	margin: 0 4px;
	color: rgba(0, 0, 0, .5);
}

.notify-list .data {
	display: inline-block;
	text-overflow: ellipsis;
	white-space: nowrap;
    overflow: hidden;
    width: 235px;
}

.notify-list .date {
	display: inline-block;
	float: right;
	margin-right: 4px;
	color: rgba(0, 0, 0, .5);
}

.notify-list .fa.fa-clock-o {
	float: right;
}

.notify-list .row{
	cursor: pointer;
}

.menu-search .d-icon {
	line-height: 24px !important;
	-webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
	
}

.menu-search.d-text-box .d-trigger{
	line-height: 24px !important;
	height: 24px;
	width: 24px;
	-webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
	
}

.d-tabbar.d-tabbar-top .tab {
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topleft: 0;
   	border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    -moz-border-radius-topright: 0;
    border-top-right-radius: 0;
    border-right: none;
}

.workspace.d-panel {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
