<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta charset="UTF-8">
    <title>分配组件</title>
    <link rel="stylesheet" type="text/css" href="static/resources/nprogress/nprogress.css">
    <script src="static/resources/nprogress/nprogress.js"></script>
    <link rel="stylesheet" type="text/css" href="static/cola-ui/semantic.css">
    <link rel="stylesheet" type="text/css" href="static/cola-ui/cola.css">
    <link rel="stylesheet" type="text/css" href="static/common/common.css">
    <link rel="stylesheet" type="text/css" href="static/bdf3/component.css">
</head>
<body>
<script type="text/javascript">
    NProgress.configure({showSpinner: false, minimum: 0.3})
    NProgress.start();
</script>

<div class="ui three top attached steps">
    <div id="roleStep" class="active step" c-onclick="navigateRole()">
        <i class="icon" c-class="selectedRole ? 'green check mark' : 'spy'"></i>
        <div class="content">
            <div class="title" c-bind="selectedRole? '角色（' + selectedRole.name + ')':'角色'">角色</div>
            <div class="description">选择一个角色分配组件权限</div>
        </div>
    </div>
    <div id="urlStep" class="step" c-onclick="navigateUrl()">
        <i class="icon" c-class="selectedUrl ? 'green check mark' : 'sitemap'"></i>
        <div class="content">
                <div class="title" c-bind="selectedUrl? '菜单（' + selectedUrl.name + ')':'菜单'">菜单</div>
                <div class="description">选择组件所在的菜单</div>
            </div>
        </div>
    <div id="componentStep" class="step">
        <i class="cubes icon"></i>
        <div class="content">
            <div class="title">组件</div>
            <div class="description">选择组件进行授权</div>
        </div>
    </div>
</div>
<div class="ui attached segment">
    <div id="rolePart">
        <div class="ui search">
            <div class="ui icon input">
                <input c-bind="searchRoleKey" class="prompt" type="text" placeholder="按角色名/描述查询…" c-onchange="searchRole()">
                <i class="search icon"></i>
            </div>
        </div>
        <table class="ui selectable unstackable table" c-data-blank="isEmpty(roles)">
            <thead>
            <th>角色名</th>
            <th>描述</th>
            </thead>
            <tbody>
            <tr c-repeat="roles" c-onclick="selectRole(item)">
                <td c-bind="item.name"></td>
                <td c-bind="item.description"></td>
            </tr>
            <tr class="blank">
                <td colspan="6" class="center aligned">
                    <i class="teal info icon circle"></i>尚未配置过角色，请通过<a c-onclick="openRolePage()">角色管理</a>进行配置
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div id="urlPart" style="display: none">
        <div class="ui search">
            <div class="ui icon input">
                <input c-bind="searchUrlKey" class="prompt" type="text" placeholder="按菜单名/描述查询…" c-onchange="searchUrl()">
                <i class="search icon"></i>
            </div>
        </div>

        <div class="ui large list selection">
            <a class="item" c-repeat="urls" c-menu-level="item.level" c-searching="searching" c-onclick="selectUrl(item)">
                <i c-class="item.icon"></i>
                <div class="content">
                    <div class="header" c-bind="item.name"></div>
                </div>
            </a>
        </div>
    </div>

    <div id="componentPart" style="display: none">
        <table class="ui selectable unstackable table" c-data-blank="isEmpty(components)">
            <thead>
            <th width="80px">授权</th>
            <th>授权方式</th>
            <th>组件名</th>
            <th>组件识别码</th>
            <th>描述</th>
            <th width="100px" class="center aligned">操作</th>
            </thead>
            <tbody>
            <tr c-repeat="components" c-watch="componentItemRender on item">
                <td>
                    <div class="ui toggle checkbox">
                        <input type="checkbox" c-bind="item.authorized" c-onchange="authorize(item)">
                        <label></label>
                    </div>
                </td>
                <td>
                    <div class="ui dropdown" c-class="disabled:!item.authorized">
                        <div class="text" c-bind="item.componentType=='Read'?'只读':'读写'"></div>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <div class="item" data-value="Read">只读</div>
                            <div class="item" data-value="ReadWrite">读写</div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="ui large transparent input">
                        <input type="text" placeholder="组件名..." c-bind="item.name" c-onchange="edit(item)">
                    </div>
                </td>
                <td>
                    <div class="ui large transparent input">
                        <input type="text" placeholder="组件识别码..." c-bind="item.componentId" c-onchange="edit(item)">
                    </div>
                </td>
                <td>
                    <div class="ui large transparent input">
                        <input type="text" placeholder="描述..." c-bind="item.description" c-onchange="edit(item)">
                    </div>
                </td>
                <td class="center aligned">
                    <i class="icon link trash outline large red" c-onclick="confirmRemove(item)"></i>
                </td>
            </tr>
            <tr class="blank">
                <td colspan="6" class="center aligned">
                    <i class="teal info icon circle"></i>尚未配置过组件，请通过下方进行配置
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <th colspan="2">创建新组件：</th>
                <th>
                    <div class="ui large transparent input">
                        <input type="text" placeholder="组件名..." c-bind="addComponent.name">
                    </div>
                </th>
                <th>
                    <div class="ui large transparent input">
                        <input type="text" placeholder="如#id等CSS选择器..." c-bind="addComponent.componentId">
                    </div>
                </th>
                <th>
                    <div class="ui large transparent input">
                        <input type="text" placeholder="描述..." c-bind="addComponent.description">
                    </div>

                </th>
                <th class="center aligned">
                    <div class="ui green button" c-onclick="add()">创建</div>
                </th>
            </tr>
            </tfoot>
        </table>

    </div>

</div>

<div id="removeConfirmModal" class="ui basic modal">
    <div class="ui icon header">
        <h2>确定要删除吗？</h2>
    </div>
    <div class="content">
        <p></p>
    </div>
    <div class="actions">
        <div class="ui red basic cancel inverted button"><i class="remove icon"></i> 取消 </div>
        <div class="ui green ok inverted button" c-onclick="remove()"><i class="checkmark icon"></i> 确定 </div>
    </div>
</div>

</body>
<script src="static/jquery-2.1.3.js"></script>
<script src="static/jquery.cookie.js"></script>
<script src="static/cola-ui/3rd.js"></script>
<script src="static/cola-ui/semantic.js"></script>
<script src="static/cola-ui/cola.js" charset="UTF-8"></script>
<script src="static/common/common.js"></script>
<script src="static/bdf3/component.js"></script>
</html>