<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta charset="UTF-8">
    <title>菜单管理</title>
    <link rel="stylesheet" type="text/css" href="static/nprogress/nprogress.css">
    <script src="static/nprogress/nprogress.js"></script>
    <link rel="stylesheet" type="text/css" href="static/cola-ui/semantic.css">
    <link rel="stylesheet" type="text/css" href="static/common/common.css">
    <link rel="stylesheet" type="text/css" href="static/bdf3/url.css">
</head>
<body>
<script type="text/javascript">
    NProgress.configure({showSpinner: false, minimum: 0.3})
    NProgress.start();
</script>
<div class="ui segment basic">
    <div>
        <div class="ui search">
            <div class="ui icon input">
                <input c-bind="searchKey" class="prompt" type="text" placeholder="按菜单名/描述…" c-onchange="search()">
                <i class="search icon"></i>
            </div>
        </div>
    </div>

    <div class="ui large breadcrumb">
        <span c-repeat="path">
            <a class="section" c-bind="item.name" c-onclick="indexPath(item)"></a>
            <i class="right angle icon divider"></i>
        </span>
    </div>

    <div id="urlCards" class="ui six doubling cards">
        <form id="addUrlForm" class="ui form card">
            <div class="content">
                <div class="ui large transparent left icon input field">
                    <i class="terminal icon"></i>
                    <input data-validate="name" type="text" c-bind="addUrl.name" c-onkeyup="keyup()" placeholder="名称...">
                </div>
                <div class="ui large transparent left icon input field">
                    <i class="terminal icon"></i>
                    <input data-validate="icon" type="text" c-bind="addUrl.icon" c-onkeyup="keyup()" placeholder="图标...">
                </div>
                <div class="ui large transparent left icon input field">
                    <i class="terminal icon"></i>
                    <input type="text" c-bind="addUrl.path" placeholder="路径...">
                </div>
            </div>
            <div class="extra content center">
                <div id="addBtn" class="ui basic green tiny disabled button fluid" c-onclick="add()">创建新菜单</div>
                <div class="ui error message"></div>
            </div>
        </form>
        <div class="ui card" c-repeat="urls" c-id="'url_' + item.id" c-onclick="clickUrlCard(item)">
            <div class="content" style="min-height: 120px">
                <span class="ui icon sitemap right floated" c-onclick="nextUrls(item)">进入下级</i></span>
                <div class="header link" c-bind="item.name"></div>
                <div class="description" c-bind="item.description">
                </div>
            </div>
            <div class="extra content">
                <span class="write left floated" c-onclick="showEditModal(item)"><i class="write icon"></i> 修改 </span>
                <span class="trash right floated" c-onclick="confirmRemove(item)"><i class="trash icon"></i> 删除 </span>
            </div>
        </div>
    </div>
</div>

<div id="removeConfirmModal" class="ui basic modal">
    <div class="ui icon header">
        <h2>确定要删除吗？</h2>
    </div>
    <div class="content">
        <p></p>
    </div>
    <div class="actions">
        <div class="ui red basic cancel inverted button"><i class="remove icon"></i> 取消 </div>
        <div class="ui green ok inverted button" c-onclick="remove()"><i class="checkmark icon"></i> 确定 </div>
    </div>
</div>

<div id="editModal" class="ui basic small modal">
    <div class="ui icon header">
        <h2>修改菜单信息</h2>
    </div>
    <div class="content">
        <form id="editRoleForm" class="ui large form">
            <div class="field">
                <div class="ui large transparent left inverted input">
                    <label>名称</label>
                    <input data-validate="name" type="text" c-bind="editUrl.name" c-onkeyup="keyup()" placeholder="名称...">
                </div>
                <div class="ui divider"></div>
            </div>
            <div class="field">
                <div class="ui large transparent left inverted input">
                    <label>图标</label>
                    <input type="text" c-bind="editUrl.icon" c-onkeyup="keyup()" placeholder="图标...">
                </div>
                <div class="ui divider"></div>
            </div>
            <div class="field">
                <div class="ui large transparent left inverted input">
                    <label>路径</label>
                    <input type="text" c-bind="editUrl.path" c-onkeyup="keyup()" placeholder="名称...">
                </div>
                <div class="ui divider"></div>
            </div>
            <div class="field">
                <div class="ui large transparent left inverted input">
                    <label>排序号</label>
                    <input type="number" c-bind="editUrl.order" c-onkeyup="keyup()" placeholder="排序号...">
                </div>
                <div class="ui divider"></div>
            </div>
            <div class="field">
                <div class="ui checkbox">
                    <input type="checkbox" c-bind="editUrl.navigable" c-onchange="keyup()">
                    <label>可导航</label>
                </div>
                <div class="ui divider"></div>
            </div>
            <div class="field">
                <div class="ui large transparent left inverted input">
                    <label>描述</label>
                    <input type="text" c-bind="editUrl.description" placeholder="描述..." c-onkeyup="keyup()">
                </div>
                <div class="ui divider"></div>
            </div>
            <div class="ui error inverted message"></div>
        </form>
    </div>
    <div class="actions">
        <div class="ui red basic cancel inverted button"><i class="remove icon"></i> 取消 </div>
        <div id="editSaveBtn" class="ui green inverted button" c-onclick="edit()"><i class="checkmark icon"></i> 提交修改 </div>
    </div>
</div>

</body>
<script src="static/jquery-2.1.3.js"></script>
<script src="static/jquery.cookie.js"></script>
<script src="static/cola-ui/3rd.js"></script>
<script src="static/cola-ui/semantic.js"></script>
<script src="static/cola-ui/cola-core.js" charset="UTF-8"></script>
<script src="static/common/common.js"></script>
<script src="static/bdf3/url.js"></script>
</html>