<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta charset="UTF-8">
    <title>用户管理</title>
    <link rel="stylesheet" type="text/css" href="static/nprogress/nprogress.css">
    <script src="static/nprogress/nprogress.js"></script>
    <link rel="stylesheet" type="text/css" href="static/cola-ui/semantic.css">
    <link rel="stylesheet" type="text/css" href="static/common/common.css">
    <link rel="stylesheet" type="text/css" href="static/bdf3/user.css">
</head>
<body>
<script type="text/javascript">
    NProgress.configure({showSpinner: false, minimum: 0.3})
    NProgress.start();
</script>
<div style="margin-bottom: 20px">
    <div id="search" class="ui search">
        <div class="ui icon input">
            <input c-bind="searchKey" class="prompt" type="text" placeholder="按$userMetadataServiceImpl.usernameLabel/$userMetadataServiceImpl.nicknameLabel/角色…" c-onchange="search()">
            <i class="search icon"></i>
        </div>
        <div id="createUserBtn" class="ui primary circular button" style="margin-left: 10px" c-onclick="showAddModal()"><i class="plus icon"></i> <span> 创建新用户 </span> </div>
        <div class="ui compact right floated  menu">
            <a class="ui icon item" data-inverted="" data-position="left center" c-data-tooltip="showStyleTip" c-onclick="toggleStyle()">
                <i class="icon" c-class="showStyleIcon"></i>
            </a>
        </div>
    </div>
</div>

<div id="userCards" class="ui six doubling cards">
    <!--<form id="addUserForm" class="ui form card">-->
        <!--<div class="content">-->
            <!--<div class="ui large transparent left icon input field" style="margin: 0">-->
                <!--<i class="student icon"></i>-->
                <!--<input data-validate="nickname" type="text" c-bind="addUser.${userMetadataServiceImpl.nicknameProp}"  placeholder="${userMetadataServiceImpl.nicknameLabel}...">-->
            <!--</div>-->
            <!--<div class="ui large transparent left icon input field" style="margin: 0">-->
                <!--<i class="user icon"></i>-->
                <!--<input data-validate="username" type="text" c-bind="addUser.${userMetadataServiceImpl.usernameProp}"  placeholder="${userMetadataServiceImpl.usernameLabel}...">-->
            <!--</div>-->
            <!--#if ($userMetadataServiceImpl.passwordProp)-->
            <!--<div class="ui large transparent left icon input field" style="margin: 0">-->
                <!--<i class="key icon"></i>-->
                <!--<input data-validate="password" type="password" c-bind="addUser.${userMetadataServiceImpl.passwordProp}"  placeholder="${userMetadataServiceImpl.passwordLabel}...">-->
            <!--</div>-->
            <!--#end-->
        <!--</div>-->
        <!--<div class="extra content center">-->
            <!--<div id="addBtn" class="ui basic green tiny disabled button fluid" c-onclick="add()">创建新用户</div>-->
            <!--<div class="ui error message"></div>-->
        <!--</div>-->
    <!--</form>-->
    <div class="ui card" c-repeat="users" c-id="'user_' + item.${userMetadataServiceImpl.usernameProp}" c-onclick="clickUserCard(item)">
        <div class="content"  style="min-height: 76px">
            <span class="ui spy icon right floated" c-onclick="showRoleModal(item)">设置角色</span>
            <div class="header link" c-bind="item.${userMetadataServiceImpl.nicknameProp}"></div>
            <div class="meta" c-bind="item.${userMetadataServiceImpl.usernameProp}"></div>
            <div class="description">
                <a c-repeat="role in item.roles" c-bind="role.name" c-onclick="showRoleModal(item)"></a>
            </div>
        </div>
            <div class="extra content">
                <span class="write left floated" c-onclick="showEditModal(item)"><i class="write icon"></i> 修改 </span>
                <span class="trash right floated" c-onclick="confirmRemove(item)"><i class="trash icon"></i> 删除 </span>
            </div>
    </div>
</div>
<table id="userTable" style="display: none;" class="ui celled table">
    <thead>
    <tr>
        <th>${userMetadataServiceImpl.usernameLabel}</th>
        <th>${userMetadataServiceImpl.nicknameLabel}</th>
        <th>角色</th>
        #if (${userMetadataServiceImpl.credentialsNonExpiredLabel})
        <th>${userMetadataServiceImpl.credentialsNonExpiredLabel}</th>
        #end
        #if (${userMetadataServiceImpl.accountNonLockedLabel})
        <th>${userMetadataServiceImpl.accountNonLockedLabel}</th>
        #end
        #if (${userMetadataServiceImpl.credentialsNonExpiredLabel})
        <th>${userMetadataServiceImpl.credentialsNonExpiredLabel}</th>
        #end
        #if (${userMetadataServiceImpl.enabledLabel})
        <th>${userMetadataServiceImpl.enabledLabel}</th>
        #end
        <th class="center aligned">操作</th>
    </tr>
    </thead>
    <tbody>
    <tr c-repeat="users">
        <td c-bind="item.${userMetadataServiceImpl.usernameProp}"></td>
        <td c-bind="item.${userMetadataServiceImpl.nicknameProp}"></td>
        <td>
            <a class="ui green circular label" c-repeat="role in item.roles" c-bind="role.name" c-onclick="showRoleModal(item)"></a>
        </td>
        #if (${userMetadataServiceImpl.credentialsNonExpiredLabel})
        <td>
            <div class="ui checkbox read-only"><input c-bind="item.${userMetadataServiceImpl.accountNonExpiredProp}" type="checkbox" class="hidden"><label></label></div>
        </td>
        #end
        #if (${userMetadataServiceImpl.accountNonLockedLabel})
        <td>
            <div class="ui checkbox read-only"><input c-bind="item.${userMetadataServiceImpl.accountNonLockedProp}" type="checkbox" class="hidden"><label></label></div>
        </td>
        #end
        #if (${userMetadataServiceImpl.credentialsNonExpiredLabel})
        <td>
            <div class="ui checkbox read-only"><input c-bind="item.${userMetadataServiceImpl.credentialsNonExpiredProp}" type="checkbox"  class="hidden"><label></label></div>
        </td>
        #end
        #if (${userMetadataServiceImpl.enabledLabel})
        <td>
            <div class="ui checkbox read-only"><input c-bind="item.${userMetadataServiceImpl.enabledProp}" type="checkbox"  class="hidden"><label></label></div>
        </td>
        #end

        <td class="center aligned">
            <div>
                <span data-inverted="" data-tooltip="角色设置">
                    <i class="icon link spy large" c-onclick="showRoleModal(item)"></i>
                </span>
                <span data-inverted="" data-tooltip="修改">
                    <i class="icon link write large" c-onclick="showEditModal(item)"></i>
                </span>
                <span data-inverted="" data-tooltip="删除">
                    <i class="icon link trash large red" c-onclick="confirmRemove(item)"></i>
                </span>
            </div>
        </td>
    </tr>
    </tbody>
</table>


<div id="removeConfirmModal" class="ui basic modal">
    <div class="ui icon header">
        <h2>确定要删除吗？</h2>
    </div>
    <div class="content">
        <p></p>
    </div>
    <div class="actions">
        <div class="ui red basic cancel inverted button"><i class="remove icon"></i> 取消 </div>
        <div class="ui green ok inverted button" c-onclick="remove()"><i class="checkmark icon"></i> 确定 </div>
    </div>
</div>
#if ($userMetadataServiceImpl.modifyUserUrl)
    <div class="edit-modal ui page dimmer">
        <div class="content">
            <div class="center">
                <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" style="width: 100%; height:100%;"></iframe>
            </div>
        </div>
    </div>
#else
    <div id="editModal" class="ui basic small modal">
        <div class="ui icon header">
            <h2>修改用户信息</h2>
        </div>
        <div class="content">
            <form id="editUserForm" class="ui large form">
                <div class="field">
                    <div class="ui large input">
                        <label>${userMetadataServiceImpl.usernameLabel}</label>
                        <label c-bind="editUser.${userMetadataServiceImpl.usernameProp}"></label>
                    </div>
                    <div class="ui divider"></div>
                </div>
                <div class="field">
                    <div class="ui large transparent left inverted input">
                        <label>${userMetadataServiceImpl.nicknameLabel}</label>
                        <input data-validate="nickname" type="text" c-bind="editUser.${userMetadataServiceImpl.nicknameProp}" 
                               placeholder="${userMetadataServiceImpl.nicknameLabel}...">
                    </div>
                    <div class="ui divider"></div>
                </div>
                <div class="fields">
                    #if ($userMetadataServiceImpl.accountNonExpiredProp || $userMetadataServiceImpl.accountNonLockedProp || $userMetadataServiceImpl.accountNonLockedProp || $userMetadataServiceImpl.credentialsNonExpiredProp || $userMetadataServiceImpl.enabledProp)
                    <div class="ui large input">
                        <label>状态</label>
                    </div>
                    #end
                    #if ($userMetadataServiceImpl.accountNonExpiredProp)
                    <div class="field">
                        <div class="ui checkbox">
                            <input type="checkbox" c-bind="editUser.${userMetadataServiceImpl.accountNonExpiredProp}" c-onchange="keyup()">
                            <label>${userMetadataServiceImpl.accountNonExpiredLabel}</label>
                        </div>
                    </div>
                    #end
                    #if ($userMetadataServiceImpl.accountNonLockedProp)
                    <div class="field">
                        <div class="ui checkbox">
                            <input type="checkbox" c-bind="editUser.${userMetadataServiceImpl.accountNonLockedProp}" c-onchange="keyup()">
                            <label>${userMetadataServiceImpl.accountNonLockedLabel}</label>
                        </div>
                    </div>
                    #end
                    #if ($userMetadataServiceImpl.credentialsNonExpiredProp)
                    <div class="field">
                        <div class="ui checkbox">
                            <input type="checkbox" c-bind="editUser.${userMetadataServiceImpl.credentialsNonExpiredProp}" c-onchange="keyup()">
                            <label>${userMetadataServiceImpl.credentialsNonExpiredLabel}</label>
                        </div>
                    </div>
                    #end
                    #if ($userMetadataServiceImpl.enabledProp)
                    <div class="field">
                        <div class="ui checkbox">
                            <input type="checkbox" c-bind="editUser.${userMetadataServiceImpl.enabledProp}" c-onchange="keyup()">
                            <label>${userMetadataServiceImpl.enabledLabel}</label>
                        </div>
                    </div>
                    #end
                </div>
                <div class="ui error inverted message"></div>
            </form>

        </div>
        <div class="actions">
            <div class="ui red basic cancel inverted button"><i class="remove icon"></i> 取消 </div>
            <div id="editSaveBtn" class="ui green inverted button" c-onclick="edit()"><i class="checkmark icon"></i> 提交修改 </div>
        </div>

    </div>
#end

<div id="addModal" class="ui basic small modal">
    <div class="ui icon header">
        <h2>创建新用户</h2>
    </div>
    <div class="content">
        <form id="addUserForm" class="ui large form">
            <div class="field">
                <div class="ui large transparent left inverted input">
                    <label>${userMetadataServiceImpl.usernameLabel}</label>
                    <input data-validate="username" type="text" c-bind="addUser.${userMetadataServiceImpl.usernameProp}" 
                           placeholder="${userMetadataServiceImpl.usernameLabel}...">
                </div>
                <div class="ui divider"></div>
            </div>
            <div class="field">
                <div class="ui large transparent left inverted input">
                    <label>${userMetadataServiceImpl.nicknameLabel}</label>
                    <input data-validate="nickname" type="text" c-bind="addUser.${userMetadataServiceImpl.nicknameProp}" 
                           placeholder="${userMetadataServiceImpl.nicknameLabel}...">
                </div>
                <div class="ui divider"></div>
            </div>
            #if ($userMetadataServiceImpl.passwordProp)
            <div class="field">
                <div class="ui large transparent left inverted input">
                    <label>${userMetadataServiceImpl.passwordLabel}</label>
                    <input data-validate="password" type="password" c-bind="addUser.${userMetadataServiceImpl.passwordProp}"
                           placeholder="${userMetadataServiceImpl.passwordLabel}...">
                </div>
                <div class="ui divider"></div>
            </div>
            #end
            <div class="fields">
                #if ($userMetadataServiceImpl.accountNonExpiredProp || $userMetadataServiceImpl.accountNonLockedProp || $userMetadataServiceImpl.accountNonLockedProp || $userMetadataServiceImpl.credentialsNonExpiredProp || $userMetadataServiceImpl.enabledProp)
                <div class="ui large input">
                    <label>状态</label>
                </div>
                #end
                #if ($userMetadataServiceImpl.accountNonExpiredProp)
                <div class="field">
                    <div class="ui checkbox">
                        <input type="checkbox" c-bind="addUser.${userMetadataServiceImpl.accountNonExpiredProp}" c-onchange="keyup()">
                        <label>${userMetadataServiceImpl.accountNonExpiredLabel}</label>
                    </div>
                </div>
                #end
                #if ($userMetadataServiceImpl.accountNonLockedProp)
                <div class="field">
                    <div class="ui checkbox">
                        <input type="checkbox" c-bind="addUser.${userMetadataServiceImpl.accountNonLockedProp}" c-onchange="keyup()">
                        <label>${userMetadataServiceImpl.accountNonLockedLabel}</label>
                    </div>
                </div>
                #end
                #if ($userMetadataServiceImpl.credentialsNonExpiredProp)
                <div class="field">
                    <div class="ui checkbox">
                        <input type="checkbox" c-bind="addUser.${userMetadataServiceImpl.credentialsNonExpiredProp}" c-onchange="keyup()">
                        <label>${userMetadataServiceImpl.credentialsNonExpiredLabel}</label>
                    </div>
                </div>
                #end
                #if ($userMetadataServiceImpl.enabledProp)
                <div class="field">
                    <div class="ui checkbox">
                        <input type="checkbox" c-bind="addUser.${userMetadataServiceImpl.enabledProp}" c-onchange="keyup()">
                        <label>${userMetadataServiceImpl.enabledLabel}</label>
                    </div>
                </div>
                #end
            </div>

            <div class="ui error inverted message"></div>
        </form>

    </div>
    <div class="actions">
        <div class="ui red basic cancel inverted button"><i class="remove icon"></i> 取消 </div>
        <div id="addSaveBtn" class="ui green inverted button" c-onclick="add()"><i class="checkmark icon"></i> 提交 </div>
    </div>

</div>
<div id="roleModal" class="ui basic huge modal">
    <i class="close icon"></i>
    <div class="ui icon cancel header">
        <h2>分配角色（<span c-bind="currentUser.${userMetadataServiceImpl.nicknameProp}"></span>）</h2>
    </div>
    <div class="content">
        <div id="selectedRoleCards" class="ui six doubling cards">
            <div class="ui card" c-repeat="selectedRoles" c-id="'selected_' + item.id">
                <div class="content">
                    <div class="header link" c-bind="item.name"></div>
                    <div class="description" c-bind="item.description">
                    </div>
                </div>
                <div class="ui negative bottom attached button" c-onclick="removeRole(item)"><i class="remove icon"></i> 取消添加 </div>
            </div>
        </div>

        <div class="ui inverted horizontal divider">
            <div class="ui search">
                <div class="ui icon input">
                    <input c-bind="searchRoleKey" class="prompt" type="text" placeholder="查询…" c-onchange="searchRole()">
                    <i class="search icon"></i>
                </div>
            </div>
        </div>

        <div id="roleCards" class="ui six doubling cards">
            <div class="ui card" c-repeat="roles" c-id="item.id" c-onclick="clickRoleCard(item)">
                <div class="content">
                    <div class="header link" c-bind="item.name"></div>
                    <div class="description" c-bind="item.description">
                    </div>
                </div>
                <div class="ui bottom attached button" c-onclick="addRole(item)"><i class="add icon"></i> 添加角色 </div>
            </div>
        </div>
    </div>
</div>

</body>
<script src="static/jquery-2.1.3.js"></script>
<script src="static/jquery.cookie.js"></script>
<script src="static/cola-ui/3rd.js"></script>
<script src="static/cola-ui/semantic.js"></script>
<script src="static/cola-ui/cola-core.js" charset="UTF-8"></script>
<script src="static/common/common.js"></script>
<script src="static/bdf3/user.js"></script>
<script type="text/javascript">
    var usernameProp = "${userMetadataServiceImpl.usernameProp}";
    var passwordProp = "$!{userMetadataServiceImpl.passwordProp}";
    var nicknameProp = "${userMetadataServiceImpl.nicknameProp}";
    var modifyUserUrl = "$!{userMetadataServiceImpl.modifyUserUrl}";
</script>
</html>