<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta charset="UTF-8">
    <title>用户管理</title>
    <link rel="stylesheet" type="text/css" href="static/cola-ui/semantic.css">
</head>
<body style="padding:100px 25%">
<form class="ui form">
  <div class="field">
    <label>用户名</label>
    <input type="text" name="username" placeholder="用户名">
  </div>
  <div class="field">
    <label>密码</label>
    <input type="text" name="password" placeholder="密码">
  </div>
  <button class="ui button cancel" type="submit">取消</button>
  <button class="ui primary button" type="submit">提交修改</button>
</form>

</body>
<script src="static/jquery-2.1.3.js"></script>
<script src="static/cola-ui/semantic.js"></script>
<script type="text/javascript">
	$(function() {
		$(".ui.cancel").click(function() {
			parent.closeModifyUserModal();
		});
	});
	
</script>
</html>