/* 主色调定义 */
/* 文字内容色调定义 */
/* 背景色调定义 */
/* 边框色调定义 */
/* 主题色定义 */
/* Input */
/* main page */
html body {
  padding: 1em;
  background-color: #f3f3f4;
}

#btns {
    text-align: center;
}

.ui.button {
    width: 80px;
}

.ui.right.button {
    width: 100px;
}

