html body {
    background-color: #f3f3f4 !important;
}

#topMenu {
    background-color: #09C;
    height: 50px;
    border: none;
}

#topMenu .floating.label {
   top: 0.7em;
   left: 85%;
   display: none;
}

#topMenu .ui.avatar {
    width: 2.5em;
    height: 2.5em;
}

#menuWrapper {
    width: 54px;
    top: 50px;
    bottom: 0px;
    background-color: #22282e;
    overflow: hidden !important;
    height: auto !important;
}

#menuWrapper .ui.menu {
    background-color: #22282e;
    width: 204px;
    border: none;
    overflow: auto;
    overflow-x: hidden;
    display: block;
    height: 100%;
    margin: 0px;
}

#menu > .item{
    min-width: 0px;
    color: #aeb9c2;
    height: 40px;
    padding: 0px;
    background: transparent;
    line-height: 40px;
    overflow: hidden;
}


#menu .item:hover {
    color: #fff;
    background: #37424f;
}

#menu > .item:first-child {
    background-color: #394555;
    width: 54px;
}

#menu > .item > .icon {
    float: left;
    display: block;
    height: 40px;
    width: 54px;
    font-size: 1.4em !important;
    margin: 0px;
    -webkit-transition: all .1s ease;
    -moz-transition: all .1s ease;
    -o-transition: all .1s ease;
    transition: all .1s ease;
}

#menu > .item > span {
    text-overflow: ellipsis;
    white-space: nowrap;
    float: left;
    display: block;
}

#menu > .item:first-child  > .icon {
    float: none !important;
    margin: 0em auto 0.5rem !important;
}


#logo {
    background-color: #0087b4;
    color: #FFF;
    width: 54px;
    padding: 0px;
    height: 100%;
    margin-left: 0px;
}

#logo:before {
    width: 0px;
}

#logo i {
    margin-left: auto;
    margin-right: auto;
}

#menu > .item.hidden,
#main > .hidden {
    display: none !important;
}

#menu > .item.active {
    background: #0099cc;
    color: #fff;
}

#main {
    height: 100% !important;
    min-height: 100%;
    padding: 50px 0px 0px 54px;
    overflow: hidden;
}

#menu > .expand ~ .item[menu-level="1"][searching="false"] > i {
    margin-left: 15px;

}

#menu > .expand ~ .item[menu-level="2"][searching="false"] > i {
    margin-left: 30px;
}

#menu > .expand ~ .item[menu-level="3"][searching="false"] > i {
    margin-left: 45px;
}

#menu > .expand ~ .item[menu-level="4"][searching="false"] > i {
    margin-left: 60px;
}

#menu > .expand ~ .item[menu-level="5"][searching="false"] > i {
    margin-left: 75px;
}


#menu > .item:first-child,
#menu > .item:last-child{
    border-radius: 0px;
}

#userCenter {
    background-color: #314253;
}

#userCenter .ui.avatar {
    border: 2px solid rgba(255, 255, 255, 0.75);
    border-radius: 50%;
    margin: 2em auto 1em;
    display: block;
    width: 6em;
    height: 6em;
    cursor: pointer;
}

#userCenter .user-info {
    text-align: center;
    font-size: 1.3em;
    color: #fff;
    cursor: pointer;
}

#userCenter .me {
    margin-bottom: 10px;
}

#userCenter .logout {
    position: fixed;
    bottom: 2em;
    left: 5.8em;
}

.pusher {
    min-height: 0px !important;
}


@media only screen and (max-width: 760px) {
    #menuWrapper {
        width: 0px;
    }

    #main {
        padding-left: 0px;
    }
}


