<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta charset="UTF-8">
    <title>发布公告</title>
    <link rel="stylesheet" type="text/css" href="../../static/nprogress/nprogress.css">
    <script src="../../static/nprogress/nprogress.js"></script>
    <link rel="stylesheet" type="text/css" href="../../static/cola-ui/semantic.css">
    <link rel="stylesheet" type="text/css" href="../../static/bdf3/announce/detail.css">
    <script src="../../static/tinymce/tinymce.min.js"></script>
    
</head>
<body>
<script type="text/javascript">
    NProgress.configure({showSpinner: false, minimum: 0.3})
    NProgress.start();

</script>
<div class="ui segment basic">
    <h2 class="ui header">
        <button class="ui right floated secondary circular button" c-onclick="openListPage()">公告列表</button>
        <i class="announcement icon"></i>
        <div class="content">
            <span c-bind="detail.title"></span>
            <div class="sub header" c-bind="'创建于' + formatDate(detail.createdAt, 'yyyy-MM-dd hh:mm:ss')"></div>
        </div>
    </h2>
    <div class="ui divider"></div>
    <div id="content" c-html="detail.content"></div>
</div>

</body>
<script src="../../static/jquery-2.1.3.js"></script>
<script src="../../static/jquery.cookie.js"></script>
<script src="../../static/cola-ui/3rd.js"></script>
<script src="../../static/cola-ui/semantic.js"></script>
<script src="../../static/cola-ui/cola-core.js" charset="UTF-8"></script>
<script src="../../static/common/common.js"></script>
<script src="../../static/bdf3/announce/detail.js"></script>
</html>