<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta charset="UTF-8">
    <title>公告</title>
    <link rel="stylesheet" type="text/css" href="../static/nprogress/nprogress.css">
    <script src="../static/nprogress/nprogress.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/cola-ui/semantic.css">
    <link rel="stylesheet" type="text/css" href="../static/bdf3/announce/manage.css">
    
</head>
<body>
<script type="text/javascript">
    NProgress.configure({showSpinner: false, minimum: 0.3})
    NProgress.start();
</script>
<div class="ui segment basic">
    <h2 class="ui header">
        <button class="ui right floated secondary circular button" c-onclick="publish()">发布公告</button>
        <div class="content">
            公告管理
            <div class="sub header">任何人都可以看到发布的公告</div>
        </div>
    </h2>
    <div class="ui divider"></div>

    <div style="margin-bottom: 20px">
        <div class="ui transparent left icon input">
            <input type="text" c-bind="title" placeholder="按标题查询..." c-onchange="search()">
            <i class="search icon"></i>
        </div>
    </div>
    <div id="announceList" class="ui relaxed divided list">
        <div class="item" c-id="'announce_' + item.id" c-repeat="announces">
            <div class="content right floated">
                <i class="wait icon"></i>
                <span c-bind="parseTime(item.createdAt)"></span>
                <i class="link large middle aligned trash outline icon red" c-onclick="confirmRemove(item)"></i>
            </div>
            <i class="large middle aligned announcement icon"></i>

            <div class="content">
                <a class="header" c-bind="item.title" c-href="'../announce/modify/' + item.id"></a>
            </div>
        </div>
    </div>

</div>

<div id="removeConfirmModal" class="ui basic modal">
    <div class="ui icon header">
        <h2>确定要删除吗？</h2>
    </div>
    <div class="content">
        <p></p>
    </div>
    <div class="actions">
        <div class="ui red basic cancel inverted button"><i class="remove icon"></i> 取消 </div>
        <div class="ui green ok inverted button" c-onclick="remove()"><i class="checkmark icon"></i> 确定 </div>
    </div>
</div>

</body>
<script src="../static/jquery-2.1.3.js"></script>
<script src="../static/jquery.cookie.js"></script>
<script src="../static/cola-ui/3rd.js"></script>
<script src="../static/cola-ui/semantic.js"></script>
<script src="../static/cola-ui/cola-core.js" charset="UTF-8"></script>
<script src="../static/common/common.js"></script>
<script src="../static/bdf3/announce/manage.js"></script>
</html>