<html>
<head>
    <link rel="stylesheet" type="text/css" href="/cola-ui/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/cola-ui/cola.css">
    <script src="/jquery-2.1.3.js"></script>
    <script src="/cola-ui/3rd.js"></script>
    <script src="/cola-ui/semantic.js"></script>
    <script src="/cola-ui/cola.js"></script>
    <script src="/cola-ui/cola-ext.js"></script>
    

    <script type="text/javascript">
        cola(function (model) {
        	model.dataType({
            	name: "User",
            	properties:{
        	        username: {
            	        caption: "用户编码",
            	        validators: "required"
        	        },
        	        name: {
        	            caption: "用户名称",
        	            required: true
        	        }
        	    }
            });
        	model.describe("userPage", {
            	provider: {
                	url: "/user/load",
                	pageSize: 20
                },
            	dataType: "User"  
 	      	});

            model.widgetConfig({
            	/* userPager: {
                    $type: "pager",
                    bind: "userPage",
                    items: [
                        "|<", "<", ">", ">|"
                    ]
                }, */
               	userTable: {
                    $type: "ext.Table",
                    bind: "userPage",
                    dataType: "User",
                    allowNoCurrent: false,
                    highlightCurrentItem: true,
                    changeCurrentItem: true,
                    showHeader: true,
                    currentPageOnly: true,
                   	"class": "celled padded unstackable",
                    columns: [{
                        bind: ".username"
                    }, {
                        bind: ".name"
                    },{
                        caption: "修改",
                        align: "center",
                        template: "mod",
                        width: "100px"
                    },{
                        caption: "删除",
                        align: "center",
                        template: "del",
                        width: "100px"
                    }]
                    
                },
                addUser: {
                    $type: "button",
                    click: function() {
						cola.widget("userDialog").toggle();
                    }
                }
            });
            model.action({
				add: function() {
					var list = model.get("userPage")
					var item = list.insert({}, "begin");
					list.setCurrent(item);
					cola.widget("userDialog").toggle();
				},
				remove: function(item) {
					cola.confirm("确定要删除当前用户吗？", function() {
						$.ajax({
	                       	url: "/user/remove/" + item.get("username"),
	                       	success: function() {
	                           	item.remove();
	                        }
	                   	});
					});
				},
				modify: function (item) {
					var list = model.get("userPage");
					list.setCurrent(item);
					cola.widget("userDialog").toggle();					
				},
				save: function() {
					var list = model.get("userPage");
					var item = list.current;
					var url = "/user/modify"
					if (item.state == "new") {
						url = "/user/save"
					}
					$.ajax({
                       	url:url,
                       	type: "POST",
                       	contentType: "application/json",
                       	data: JSON.stringify(item.toJSON()),
                       	success: function() {
        					cola.widget("userDialog").toggle();					
                        }
                   	});
				}
        	});
        });
    </script>
</head>
<body class="v-box">
	<div class="flex-box">
		<div class="ui container">
			<div c-widget="Pager; bind:userPage;">
				<a page-code="<" class="item"></a>
	  			<a page-code=">" class="item"></a>
			
	  		    <div class="right menu">   
			   		<div c-widget="controlItem;">
				    	<div c-widget="Button; caption:添加; class:blue; click:add"></div>
	        		</div>
			    	<div c-widget="controlItem;">
	            		<div c-widget="Button; caption:搜索; class:primary"></div>
	        		</div>
		        	<a page-code="goto" class="item"></a>
		   	 	</div>
			</div>
			<table id="userTable">
			    <template name="mod">
			        <button c-widget="Button;height:30.8px;icon:pencil;class:blue circular;size:mini;click:{{modify(item)}}"></button>
			    </template>
			    <template name="del">
			        <button c-widget="Button;height:30.8px;icon:delete;class:red circular;size:mini;click:{{remove(item)}}"></button>
			    </template>
			    
			</table>
		</div>
	</div>
				
	<div id="userDialog" c-widget="Dialog;width:300px">
	    <div class="header">用户信息</div>
	    <div class="content">
		    <div c-widget="form;">
			    <div class="field">
			        <label>用户编码</label>
			        <div c-widget="input; bind:userPage.username; placeholder:用户编码"></div>
			    </div>
			    <div class="field">
			        <label>用户名称</label>
			        <div c-widget="input; bind:userPage.name; placeholder:用户名称;"></div>
			    </div>
			</div>
	    </div>
	    <div class="actions">
	        <div c-widget="button; caption:取消"></div>
	        <div c-widget="button; caption:确定;click:save"></div>
	    </div>
	</div>
	
    
</body>
</html>